//////////////////////////////////////
// ABOUT
.about {
  &__container {
    padding: 7rem 0;
    max-width: 120rem;
    margin: 0 auto;

    @include respond(tab-land) {
      padding: 5rem 3rem;
    }
  }
}
