.story {

  &__img {
    float: right;
    height: 76vh;
  }

  &__p {
    margin-bottom: 1.6rem;
  }

  &__link {

  }

  &__list {
    list-style-position: inside;
    margin-bottom: 1.6rem;
  }

  &__list-item {
    margin-bottom: 1rem;
  }
}
