//////////////////////////////////////////////////
// SOCIAL-ROW
.social-row {
  display: flex;
  justify-content: center;
  
  @include respond(tab-port) {
    order: -2;
    margin-bottom: 2rem;
  }
}

//////////////////////////////////////////////////
// PROFILE
.profile {
  text-align: center;
  font-size: 1.2rem;

  &:not(:last-child) {
    margin-right: 5rem;
  }

  &__link {
    transition: all .3s;

    &:link,
    &:visited {
      color: $color-secondary;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: $color-secondary-light;
    }
  }

  &__icon {
    font-size: 3.5rem;
    width: 3.5rem;
  }

}
