////////////////////////////////////////
// story
.story {
  max-width: 95rem;
  margin: 0 auto 7rem;

  &__container {
    display: flex;
    align-items: flex-start;
  }

  &__text-box {
    height: 70vh;
    overflow-y: scroll;
    font-size: 1.8rem;

    -ms-overflow-style: none; // IE 10+
    overflow: -moz-scrollbars-none; // Firefox
    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }

    @include respond(phone) {
      height: auto;
      overflow: visible;
    }
  }

  .story__text-img {
    display: none;

    @include respond(phone) {
      display: inline-block;
      float: right;
      height: 55vh;
      margin-right: -3.3rem;
      z-index: 10;
    }
  }

  &__title {
    font-family: poppins;
    font-size: 2rem;
    color: $color-primary-dark;

    &:not(:first-of-type) {
      margin-top: 5rem;
    }
  }

  &__p {
<<<<<<< HEAD
    line-height: 1.8;
    margin-bottom: 2rem;
=======
    margin-bottom: 2rem;
    line-height: 1.8;
>>>>>>> config webpack
  }

  &__link {
    color: $color-secondary-dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__list {
    list-style: inside;
    margin-bottom: 1.6rem;
  }

  &__list-item {
    margin-bottom: 1rem;
  }

  &__img-box {
    display: flex;
  }

  &__img {
    height: 70vh;
    z-index: 10;

    @include respond(phone) {
      display: none;
    }
  }

  &__tools {
    height: 70vh;
    // width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -.7rem;
    padding: 0 .5rem;
    // background: linear-gradient(to right, rgba($color-primary-light, .7) 0%, $color-secondary-bright 50%, rgba($color-primary-light, .7) 100%);
    background: linear-gradient(
                          to right,
                          rgba($color-primary-light, .3),
                          rgba($color-secondary-bright, .5),
                          rgba($color-primary-light, .3)
                          );
    position: relative;

    &::after {
      content: "";
      background: url("../img/bricks.jpg");
      opacity: .9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    }
    

    @include respond(phone) {
      display: none;
    }
  }

  &__tool-logo {
    // width: 100%;
    height: 10%;
    width: auto;
  }
}
