//////////////////////////////////////
// FOOTER
.footer {
  background-color: $color-dark;
  color: $color-secondary;
  padding: 3rem 5rem;
  
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }
}
